.footer {
    background-color: $footer-background;
    padding-bottom: 12px;
    padding-top: 122px;
    position: relative;
}

.footer-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 63px;
    font-style: normal;
    font-weight: 900;
    line-height: 98px;
    /* 155.556% */
    margin-bottom: 27px;
}

.footer-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    /* 180.769% */
}

.footer-title-2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
}

.footer-text-2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    /* 293.75% */
}

.footer-box {
    display: flex;
    align-items: center;
    margin-bottom: 66px;
    max-width: 1170px;
}

.footer-box-3 {
    max-width: 570px;
}

.footer-box-2 {
    margin-right: 230px;
    max-width: 370px;
}

.footer-line {
    border-top: solid #FFF 1px;
    width: 100%;
    opacity: 0.1;
    position: absolute;
    bottom: 71px;
    left: 0px;
}