.hero {
    background-color: red;
    padding-top: 275px;
    padding-bottom: 305px;
    position: relative;
}

.hero-icon {
    position: absolute;
    left: 40px;
    top: 30px;
}

.hero-title-box {
    max-width: 670px;
    margin-bottom: 24px;
}

.hero-title {
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero-text-box {
    max-width: 669px;
}

.hero-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.hero-second-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
}

.hero-button {
    color: #ED1C24;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    /* 163.636% */
    display: flex;
    width: 370px;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 70px;
    background: #FFF;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.40);
    margin-top: 93px;
}