.imagine {
   background: #ED1C24;
   padding-top: 140px;
   padding-bottom: 139px;
   background-image: url(../../images/imagine-images/mobile/dackground-mobile1x.webp), url(../../images/imagine-images/mobile/tree-mobile1x.webp );
   background-repeat: no-repeat;
   background-size: 1864, 461, 466px;

   @media screen and (min-width: 1200px) {
      background-image: url(../images/imagine-images/desktop/dackground-desktop1x.webp), url(../images/imagine-images/desktop/tree-desktop1x.webp);
   }


   &__title {
      color: #FFF;
      font-family: "Montserrat Alternates";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;


      @media screen and (min-width: 1200px) {
         color: #FFF;
         font-family: $montserrat-alternas;
         font-size: 52px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         margin-bottom: 14px;
      }
   }

   &__description {
      color: #FFF;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 175% */


      @media screen and (min-width: 1200px) {
         color: #FFF;
         font-family: $montserrat;
         font-size: 20px;
         font-style: normal;
         font-weight: 400;
         line-height: 35px;
         /* 175% */
      }
   }

   &__description2 {
      color: #FFF;
      font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 175% */

      @media screen and (min-width: 1200px) {
         color: #FFF;
         font-family: $montserrat;
         font-size: 20px;
         font-style: normal;
         font-weight: 400;
         line-height: 35px;
         /* 175% */
      }
   }

   &__spann {
      color: #FFF;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 28px;

      @media screen and (min-width: 1200px) {
         color: #FFF;
         font-family: Montserrat;
         font-size: 20px;
         font-style: normal;
         font-weight: 900;
         line-height: 55px;
      }
   }

   &__text {
      width: 290px;
      margin-left: auto;

      @media screen and (min-width: 1200px) {
         width: 570px;
      }
   }

   &__euro {
      margin-top: 48px;
      margin-left: 43px;
      

      @media screen and (min-width: 1200px) {
         margin-top: 58px;
         margin-left: 182px;
         margin-right: 183px;
      }

   }

   &__box {
      background-color: white;
      border-radius: 26px;
      width: 284px;
      height: 310px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px;

      @media screen and (min-width: 1200px) {
         width: 570px;
         height: 329px;
      }
   }

   &__description-euro {
      color: #221112;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      /* 175% */
   }

   &__boc-description {
      width: 240px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 1200px) {
         width: 341px;
      margin-top: 19px;
      }
   }

   &__button {
      display: none;

      @media screen and (min-width: 1200px) {
         background-color: #ED1C24;
      border-radius: 70px;
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 22px;
      font-style: normal;
      font-weight: 900;
      line-height: 36px;
      /* 163.636% */
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 61px;
      padding-right: 62px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 26px;
      }
   }

   &__box-png {
      width: 200px;
      padding-left: 47px;
      padding-top: 80px;
      margin-bottom: 46px;


      @media screen and (min-width: 1200px) {
         width: 634px;
         padding-top: 295px;
      }

   }

   &__container {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 1200px) {
         display: flex;
         flex-direction: row;
      }
   }

   &__ball2 {
      position: absolute;
      padding-top: 138px;

      @media screen and (min-width: 1200px) {
         width: 199px;
         height: 180px;
         padding-top: 380px;
      }
   }

   &__ball1 {
      position: absolute;
      padding-top: 114px;

      @media screen and (min-width: 1200px) {
         width: 126px;
         height: 112px;
         padding-top: 330px;
      }
   }

   &__images1 {
      position: relative;
      margin-right: auto;
      margin-left: auto;
      padding-top: 205px;
      margin-right: 100px;
   }


}