.imagine {
    background: #ED1C24;
    padding-top: 140px;
    padding-bottom: 139px;
    background-image: url(../images/imagine-images/desktop/dackground-desktop1x.webp);
    background-repeat: no-repeat;
}