.impression {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
background-color: $modded-background;

  &__title {
    width: 300px;
    color: #ED1C24;

text-align: center;
font-family: $montserrat-alternas;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;

    @media screen and (min-width:1200px){
      width: 970px;
    color: #ed1c24;
    text-align: center;
    font-family: $montserrat-alternas;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
  }

  &__box-image {
width: 119px;
height: 199px;
  }

  &__text {
    width: 300px;
    color: #221112;
    text-align: center;
    font-family: $montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  &__travelholder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    @media screen  and (min-width: 480px){
      min-width: 300px;
      
    padding-left: 10px;
    padding-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    }

    @media screen and (min-width: 1200px){
      width: 1820px;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/impression-images/dekstop/background-dekstop@1x.webp");
    }
  }

  &__subtitle {
     width: 300px;
    color: #221112;
    text-align: center;
    font-family: $montserrat-alternas;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__image {

      min-width: 300px;

    border-radius: 24px;


    @media screen and (min-width: 1200px){
      width: 770px;
    height: 434px;
    border-radius: 24px;
    }
  }

  &__travel-top {
    margin-top: 79px;
    margin-bottom: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__travel {
    display: none;
     @media screen and (min-width: 1200px){
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 135px;
     }
  }

  &__travel-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__travelsholser {
    width: 931px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__subtext {
    display: flex;
    min-width: 96px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background: #eed7d8;
    padding-left: 11px;
    padding-right: 11px;
  }

  &__travels{
    display: flex;
    color: #221112;
text-align: center;
font-family: $montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px;
  }

  &__bottom{
    height: 148px;
  }

  &__span{
    display: block;
    color: #221112;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 36px;
  }
}
