&__title{
    color: #221112;
font-family: "Montserrat Alternates";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

&__title-color{
    color: #ED1C24;
font-family: "Montserrat Alternates";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
}