$main-text-color: #221112;
$regular-background: #FFF;
$modded-background: #F9F9F9;
$modded-text-color: #ED1C24;
$footer-background: #670508;
$montserrat-alternas: "Montserrat Alternates";
$montserrat: "Montserrat";