<section>
<h2 class="trip-title">Кожна групова поїздка зі <span class="trip-title-color"> STUDY.UA</span> — це мікс з:</h2>


<p class=""> <span>вивчення англійської мови</span> у найкрутіших мовних школах світу, </p>
<p class=""><span>екскурсій</span> найдивовижнішими куточками світу</p>
<p class=""><span>англійської 24/7 — </span> постійної мовної практики,</p>
<p class=""><span>нових знайомств,</span> сотень вражень та веселих розваг!</p>
<button class=""><span>Придбати сертифікат</span></button>
</section>
