<section class="work">
  <div class="container">
    <h2 class="work-title">Як це працює?</h2>
    <p class="work-text">
      Для ідеального подарунка вам знадобиться лише 4 простих кроки!
    </p>
    <div class="work-description">
      <ul class="work-list">
        <li class="work-item place1">
          <img src="./images/work-images/icon-bord.png" alt="" class="work-img">
          <div class="work-overlay">
            <h2 class="work-heading">Крок 1</h2>
            <p class="work-desc">Залишіть заявку на цій сторінці.</p>
          </div>
        </li>
        <li class="work-item place2">
          <img src="./images/work-images/icon-bord1.png" alt="" class="work-img">
          <div class="work-overlay">
            <h2 class="work-heading">Крок 2</h2>
            <p class="work-desc">
              Дочекайтеся дзвінка нашого менеджера. Разом з ним ви обговорите
              деталі оформлення сертифікату. Ви зможете замовити власний
              ексклюзивний дизайн або обрати з запропонованих варіантів. Ви
              матимете можливість написати своє побажання власноруч, або ми
              можемо самі надрукувати його чи будь-яке інше з нашої
              топ-підбірки.
            </p>
          </div>
        </li>
        <li class="work-item place3">
          <img src="./images/work-images/icon-bord2.png" alt="" class="work-img">
          <div class="work-overlay">
            <h2 class="work-heading">Крок 3</h2>
            <p class="work-desc">
              Наші чарівники працюють над виконанням вашого персонального
              замовлення.
            </p>
          </div>
        </li>
        <li class="work-item place4">
          <img src="./images/work-images/icon-bord3.png" alt="" class="work-img">
          <div class="work-overlay">
            <h2 class="work-heading">Крок 4</h2>
            <p class="work-desc">
              Готово! Ви отримуєте гарний святковий подарунок, який ми дбайливо
              запаковуємо для вашої дитини. Вам залишається лише тихенько
              покласти його під ялинку :)
            </p>
          </div>
        </li>
      </ul>
      <!-- <div class="work-button-box"> -->
      <button class="work-btn">
        <span class="work-button">Хочу сертифікат</span>
      </button>
      <!-- </div> -->
    </div>
  </div>
</section>
